@model ERP.Models.ChangePassword
@{
    ViewData["Title"] = "Change Password";
}

<div class="flex items-center justify-center min-h-screen">
    <div class="bg-white shadow-xl rounded-2xl w-full p-12">
        <div class="text-center mb-6">
            <i class="fa-solid fa-building text-indigo-600 text-5xl mb-4"></i>
            <h2 class="text-3xl font-bold text-indigo-600">Change Password</h2>
        </div>

        @using (Html.BeginForm("CreateNewPassword", "Auth", FormMethod.Post, new { @class = "space-y-6" }))
        {
            @Html.AntiForgeryToken()
            <div>
                <label class="block font-semibold text-md text-gray-700">New Password</label>
                @Html.PasswordFor(
                         m => m.Password,
                         new { @class = "mt-1 block w-96 rounded-xl border border-gray-300 px-4 py-3 text-gray-900 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder = "Enter New Password", required = "required" }
                         )
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-red-500 text-sm mt-1" })
            </div>

            <div>
                <label class="block font-semibold text-md text-gray-700">Confirm Password</label>
                @Html.PasswordFor(
                         m => m.ConfirmPassword,
                         new { @class = "mt-1 block w-96 rounded-xl border border-gray-300 px-4 py-3 text-gray-900 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:ring focus:ring-indigo-200 focus:ring-opacity-50", placeholder = "Confirm New Password", required = "required" }
                         )
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-red-500 text-sm mt-1" })
            </div>

            <div class="flex items-center justify-between">
                <a asp-controller="Auth" asp-action="Login" class="text-sm text-indigo-600 hover:underline">Back to Login</a>
            </div>

            <div>
                <button type="submit" class="w-full bg-indigo-600 text-white font-semibold py-3 rounded-xl shadow-md hover:bg-indigo-700 transition duration-200">
                    Change Password
                </button>
            </div>
        }
    </div>
</div>